.navbar {
  background: rgba(0, 0, 0, 0.6);
}

body {
  background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1453&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo {
  width: auto;
  height: auto;
}

.card {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

.footer {
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.card {
  background: rgba(0, 0, 0, 0.6);
}
